*,
*::before,
*::after {
  box-sizing: border-box;
  /* border: 2px black solid; */
}

html {
  font-size: 62.5%; /* default font size is now 10px */
}

img {
  max-width: 100%;
}

body {
  padding: 0;
  margin: 0;
  background: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
  text-align: center;
  font-size: 1.6rem;
}

main {
  display: grid;
  min-height: 100vh;
  place-content: center;
}

.container {
  width: 85%;
  max-width: 375px;
  margin: 0 auto;
}


.card {
  background-color: #ffffff;
  padding: 1em;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.card__img--modified {
  border-radius: 12px;
}


/* .title {
color: Please update colors
}

.description {
  color: Please update colors
}
*/
