*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%; /* default font size is now 10px */

  /* VARIABLES */
  /* Colors */
  --clr-white: hsl(0, 0%, 100%);
  --clr-gray-200: hsl(212, 45%, 89%);
  --clr-blue-400: hsl(220, 15%, 55%);
  --clr-blue-700: hsl(218, 44%, 22%);

  /* Fonts */
  --font-default: "Outfit", sans-serif;
}

img {
  max-width: 100%;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--clr-gray-200);
  font-family: var(--font-default);
  text-align: center;
  font-size: 1.5rem;
}

main {
  display: grid;
  min-height: 100vh;
  place-content: center;
}

.container {
  width: 85%;
  max-width: 375px;
  margin: 0 auto;
}

.card {
  background-color: var(--clr-white);
  padding: 1.1em;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__img--modified {
  border-radius: 12px;
}

.card-about {
  padding-inline: 1em;
  padding-bottom: 0.7em;
}

.title {
  color: var(--clr-blue-700);
}

.description {
  color: var(--clr-blue-400);
}
